*{
	font-family: 'Do Hyeon', sans-serif;
}
body{
	margin: 0; /*убирает отступы от краев*/
}
@keyframes lightning{
	0%{
		background-color: black;
		box-shadow: 2px 2px 6px black;
		margin-top: 20;
	}
	33%{
		background-color: red;
		border-radius: 20%;
		box-shadow: 2px 2px 6px red;
		margin: 11px;

	}
	66%{
		background-color: green;
		box-shadow: 2px 2px 6px green;
	}
	100%{
		background-color: blue;
		box-shadow: 2px 2px 6px blue;
	}
}
.navigation{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 120px;
	position: fixed;
	background-color: white;
	width: 100%;
	top: 0px;
	box-shadow: 0px 2px 8px gray;
	z-index: 200;
}
.light{
	border-radius: 100%;
	border: 1px solid black;
	height: 14px;
	width: 14px;
	margin: 3px;
	animation: lightning 2.14s linear infinite;
}
.l1{
	animation: lightning 2.9s linear infinite;
}
.l2{
	animation: lightning 3s linear infinite;
}
.l3{
	animation: lightning 2.5s linear infinite;
}
.l4{
	animation: lightning 3.3s linear infinite;
}
.logo{
	margin-left: 100px;
	font-size: 22px;
	display: flex;
}
.nav-links{	
	margin-right: 100px;
} 
.nav-links > a{
	text-decoration: none;
	color: black;
	margin: 10px;
	font-size: 22px;
	padding: 5px;
	border-radius: 20%;
}
.nav-links > a:hover{
	background-color: gray;
	color: white;
	transition: 0.5s;
}
.header{
	height: 650px;
	background-image: url(img/img1.jpg);
	background-size: 100% 100%;	
	background-position: center;
	transition: 1s;
}
.header:hover{
	background-size: 150% 150%;
	background-color: rgba(2,2,2,0);
}
.blackout{
	background-color: rgba(0,0,0,0.8); /*0.8 затемнение*/
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-content{
	color: white;
	text-align: center;
}
.header-content > h1{
	font-size: 50px;
}
.header-content > h2{
	font-size: 30px;
}
.header-content > a{
	color: white;
	font-size: 27px;
	text-decoration: none;
	background-color: rgb(0,137,123);
	display: inline-block;
	width: 220px;
	padding-top: : 15px;
	padding-bottom: : 15px;
}
.header-content > a:hover{
	background-color: inherit; /*прозрачность*/
	border: 1px solid white;
}
/*.................................*/
.about{
	text-align: center;
}
.about-top{
	margin-bottom: 40px;
}
.about-bot{
	display: flex;
	justify-content: space-around;
}
.about-item{
	width: 30%;
}
/*.................................*/
.Our-services{
	padding-top: 4%;
	background-color: #e4fdf9;
	text-align: center;	
}
.serv-top{
	margin-bottom: 40px;
}
.serv-bottom{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.serv-item{
	width: 25%;
	background-color: white;
	padding-top: 5%;
	margin: 15px;
	padding-bottom: 5%;
}
/*...................................*/
.blog{
	border: 1px solid black;
}
.blog-top{
	border: 1px solid black;
}
.blog-bot{
	border: 1px solid black;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.blog-item{
	border: 1px solid black;
	width: 40%;
	height: 400px;
}